@font-face {
  font-family: 'Ruberoid';
  src: url('/src/assets/fonts/Ruberoid-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Ruberoid-Light';
  src: url('/src/assets/fonts/Ruberoid-Light.woff') format('woff');
  font-weight: 300;
}

