.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('/src/assets/img/page/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    flex: 1 1 100%;
    display: flex;
    max-width: none !important;
    padding: 0 !important;
  }
  &__body {
    position: relative;
    flex: 1 1 100%;
    display: grid;
    grid-template: 70px 1fr/ 1fr;
    gap: 20px;
  }
  &__header {}
  &__footer {}
}

@media(max-width: 425.1px) {
  .page {
    background-image: url('/src/assets/img/page/bg_mobile.png');
    background-position: center;
    background-attachment: scroll;
  }
}
